*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
@media (768px<width){
    #home{
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: -10;
    }
    .header{
        position: absolute;
        background-color: black;
        opacity: 0.05;
        width: 100%;
        height: 100px;
        z-index: -1;
    }
    .portfolio{
        position: absolute;
        padding: 25px 0 0 50px;
    }
    .right{
        justify-content: flex-end;
        display: flex;
        padding: 20px 20px 20px 0;
        gap: 10px;
    }
    .right .name h2{
        padding: 10px;
    }
    .menu-bar{
        display: none;
    }

    #introduce{
        height: 70vh;
        color: #ffffff;
        background-color: #333333;
        position: relative;
        z-index: -1;
    }
    #introduce .intro{
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 1.5rem;
    }
    #introduce .sentence1{
        position: absolute;
        width: 80%;
        height: 300px;
        top: 30%;
        left: 10%;
        font-size: 2rem;
    }
    #works{
        width: 100%;
        height: 400vh;
        position: relative;
        color: #ffffff;
        background-color: #333333;
    }
    #works .works{
        position: absolute;
        left: 5%;
        font-size: 1.5rem;
    }
    #works .layout{
        height: 100vh;
        width: 100vw;
        padding: 50px 100px;
        position: relative;
        top: 1%;
        opacity: 0.1;
        transition: all 1s;
    }
    #works .layout.fadein{
        opacity: 1;
    }
    #works .layout .title{
        position: absolute;
        left: 60%;
        top: 5%;
        font-size: 2rem;
    }
    #works .layout .image img{
        position: absolute;
        height: 70vh;
        width: 45vw;
        left: 40px;
        top: 7px;
    }
    #works .layout .detail{
        position: absolute;
        left: 60%;
        top: 15%;
        font-size: 1.5rem;
    }
    #works .layout .detail p{
        width: 500px;
    }
    #works .layout .use{
        position: absolute;
        left: 60%;
        top: 50%;
        font-size: 1.5rem;
    }
    #works .layout .app{
        position: absolute;
        left: 60%;
        top: 63%;
        background-color: black;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        color: aliceblue;
    }
    #works .layout .app img{
        width: 95px;
        height: 95px;
        
    }
    #works .layout2{
        height: 100vh;
        width: 100vw;
        padding: 50px 100px;
        position: relative;
        top: 1%;
        opacity: 0.1;
        transition: all 1s;
    }
    #works .layout2.fadein{
        opacity: 1;
    }
    #works .layout2 .title{
        position: absolute;
        top: 5%;
        left: 100px;
        font-size: 2rem;
    }
    #works .layout2 .image img{
        width: 40vw;
        position: absolute;
        left: 28px;
        top: 70px;
        object-fit: cover;
    }

    #works .layout2 .image{
        position: absolute;
        left: 45%;
    }
    #works .layout2 .detail{
        position: absolute;
        top: 15%;
        left: 100px;
        font-size: 1.5rem;
    }
    #works .layout2 .use{
        position: absolute;
        top: 50%;
        left: 7%;
        font-size: 1.5rem;
    }
    #works .layout2 .detail p{
        width: 500px;
    }
    #works .layout2 .app{
        position: absolute;
        top: 63%;
        left: 100px;
        background-color: black;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        color: aliceblue;
    }
    #works .layout2 .app img{
        width: 100px;
        height: 100px;
    }
    #works .layout3{
        height: 100vh;
        width: 100vw;
        padding: 50px 100px;
        position: relative;
        top: 1%;
        opacity: 0.1;
        transition: all 1s;
    }
    #works .layout3.fadein{
        opacity: 1;
    }
    #works .layout3 .title{
        position: absolute;
        left: 60%;
        font-size: 2rem;
    }
    #works .layout3 .image img{
        position: absolute;
        height: 70vh;
        width: 45vw;
        left: 40px;
    }
    #works .layout3 .detail{
        position: absolute;
        left: 60%;
        top: 15%;
        font-size: 1.5rem;
    }
    #works .layout3 .use{
        position: absolute;
        left: 60%;
        top: 50%;
        font-size: 1.5rem;
    }
    #works .layout3 .detail p{
        width: 500px;
    }
    #works .layout3 .app{
        position: absolute;
        left: 60%;
        top: 63%;
        background-color: black;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        color: aliceblue;
    }
    #works .layout3 .app img{
        width: 100px;
        height: 100px;
        border-radius: 20%;
    }
    #works .layout4{
        height: 100vh;
        width: 100vw;
        padding: 50px 100px;
        position: relative;
        top: 1%;
        opacity: 0.1;
        transition: all 1s;
    }
    #works .layout4.fadein{
        opacity: 1;
    }
    #works .layout4 .title{
        position: absolute;
        font-size: 2rem;
        left: 100px;
    }
    #works .layout4 .image img{
        position: absolute;
        height: 70vh;
        width: 45vw;
        left: 20px;
    }
    #works .layout4 .image{
        position: absolute;
        left: 45%;
    }
    #works .layout4 .detail{
        position: absolute;
        top: 15%;
        left: 100px;
        font-size: 1.5rem;
    }
    #works .layout4 .use{
        position: absolute;
        top: 50%;
        left: 7%;
        font-size: 1.5rem;
    }
    #works .layout4 .detail p{
        width: 500px;
    }
    #works .layout4 .app{
        position: absolute;
        top: 63%;
        left: 100px;
        background-color: black;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        color: aliceblue;
    }
    #works .layout4 .app img{
        width: 100px;
        height: 100px;
        border-radius: 20%;
    }
    #works .layout4 .app2{
        position: absolute;
        top: 63%;
        left: 250px;
        background-color: black;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        color: aliceblue;
    }
    #works .layout4 .app2 img{
        width: 95px;
        height: 95px;
    }
    #contact{
    position: relative;
    height: 80vh;
    background-color: #333333;
    color: #ffffff;
    }
    #contact .title{
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 1.5rem;
    }
    #content .detail{
        display: flex;
    }
    #contact .detail2{
        position: absolute;
        width: 80%;
        height: 300px;
        top: 22%;
        left: 15%;
        font-size: 1.5rem;
    }
    #contact .detail2 td{
        vertical-align: top;
    }
    .googlemap{
        position: absolute;
        left: 55%;
        top: 20%;
    }
    .googlemap iframe{
        width: 30vw;
        height:50vh;
    }
    .footer{
        position: relative;
        height: 100px;
        background-color: black;
        color: #333333;
        opacity: 0.1;
        text-align: center;
    }
    .footer p{
        position: absolute;
        z-index: 100;
    }
    *, *:before, *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    ol, ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .hum1 {
        position: absolute;
        top: 14px;
        right: 20px;
        display: inline-block;
    }
    /* menu */
    .hum1 .menu {
        position: fixed;
        top: 97px;
        right: -100vw;
        width: 400px;
        height: 420px;
        cursor: pointer;
        -webkit-transition: 0.50s transform;
                transition: 0.50s transform;
        -webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
                transition-timing-function: cubic-bezier(.38,.52,.23,.99);
        background-color: black;
    }
    .hum1 .menu ul {
        margin: 0;
        padding: 0;
    }
    .hum1 .menu li {
        list-style: none;
    }
    .hum1 .menu li a {
        display: block;
        padding: 40px;
        text-decoration: none;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    .hum1 #button {
        position: absolute;
        display: none;
        opacity: 0;
    }
    .hum1 #button:checked ~ .menu {
        -webkit-transform: translateX(-100vw);
                transform: translateX(-100vw);
    }
    .hum1 #button ~ label {
        display: block;
        padding: 0.5em;
        cursor: pointer;
        text-align: center;
        color: #333333;
    }
    .hum1 #button ~ label::before {
        font-family: 'FontAwesome';
        content: '\f0c9';
        visibility: hidden;
        font-size: 2em
    }
    .hum1 #button:checked ~ label::before {
        content: '\f00d';
    }
}
@media (0<width<769px){
    #home{
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: -10;
    }
    .header{
        position: absolute;
        background-color: black;
        opacity: 0.05;
        width: 100vw;
        height: 200px;
        z-index: -1;
    }
    .menu{
        display: none;
    }
    .portfolio{
        padding: 15px;
        display: inline;
        text-align: center;
    }
    .right{
        justify-content: flex-end;
        display: inline;
        padding: 20px 20px 20px 0;
        gap: 10px;
        height: 100px;
    }
    .right .name h2{
        display: none;
    }
    .menu-bar ul{
        display: flex;
        gap: 20px;
        font-size: 1.5rem;
        justify-content: center;
    }
    #introduce{
        height: 70vh;
        color: #ffffff;
        background-color: #333333;
        position: relative;
        z-index: -1;
    }
    #introduce .intro{
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 1.5rem;
    }
    #introduce .sentence1{
        position: absolute;
        width: 80%;
        height: 300px;
        top: 30%;
        left: 10%;
        font-size: 1.5rem;
    }
    .use{
        display: none;
    }
    #works{
        width: 100%;
        height: 400vh;
        position: relative;
        color: #ffffff;
        background-color: #333333;
    }
    #works .works{
        position: absolute;
        left: 5%;
        font-size: 1.5rem;
    }
    #works .layout{
        height: 100vh;
        width: 100vw;
        padding: 50px 100px;
        position: relative;
        top: 1%;
        opacity: 0.1;
        transition: all 1s;
    }
    #works .layout.fadein{
        opacity: 1;
    }
    #works .layout .title{
        position: absolute;
        left: 10%;
        top: 5%;
        font-size: 1.5rem;
    }
    #works .layout .image img{
        position: absolute;
        width: 70vw;
        left: 60px;
        top: 250px;
    }
    #works .layout .detail{
        position: absolute;
        left: 10%;
        top: 15%;
        font-size: 1.2rem;
    }
    #works .layout .detail p{
        width: 300px;
    }
    #works .layout .app{
        position: relative;
        left: 80%;
        top: 5%;
        background-color: black;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        color: aliceblue;
    }
    #works .layout .app img{
        width: 70px;
        height: 70px;  
    }
    #works .layout2{
        height: 100vh;
        width: 100vw;
        padding: 50px 100px;
        position: relative;
        top: 1%;
        opacity: 0.1;
        transition: all 1s;
    }
    #works .layout2.fadein{
        opacity: 1;
    }
    #works .layout2 .title{
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 1.5rem;
    }
    #works .layout2 .image video{
        width: 70vw;
        position: absolute;
        left: 60px;
        top: 280px;
        object-fit: cover;
    }
    #works .layout2 .detail{
        position: absolute;
        top: 15%;
        left: 10%;
        font-size: 1.2rem;
    }
    #works .layout2 .detail{
        width: 300px;
    }
    #works .layout2 .app{
        position: absolute;
        top: 10%;
        left: 70%;
        background-color: black;
        width: 70px;
        height: 70px;
        border-radius: 20px;
        color: aliceblue;
    }
    #works .layout2 .app img{
        width: 70px;
        height: 70px;
    }
    #works .layout3{
        height: 100vh;
        width: 100vw;
        padding: 50px 100px;
        position: relative;
        top: 1%;
        opacity: 0.1;
        transition: all 1s;
    }
    #works .layout3.fadein{
        opacity: 1;
    }
    #works .layout3 .title{
        position: absolute;
        left: 10%;
        font-size: 1.5rem;
    }
    #works .layout3 .image img{
        position: absolute;
        width: 70vw;
        left: 60px;
        top: 300px;
    }
    #works .layout3 .detail{
        position: absolute;
        left: 10%;
        top: 15%;
        font-size: 1.2rem;
    }
    #works .layout3 .detail p{
        width: 300px;
    }
    #works .layout3 .app{
        position: absolute;
        left: 70%;
        top: 10%;
        background-color: black;
        width: 70px;
        height: 70px;
        border-radius: 20px;
        color: aliceblue;
    }
    #works .layout3 .app img{
        width: 70px;
        height: 70px;
        border-radius: 20%;
    }
    #works .layout4{
        height: 100vh;
        width: 100vw;
        padding: 50px 100px;
        position: relative;
        top: 1%;
        opacity: 0.1;
        transition: all 1s;
    }
    #works .layout4.fadein{
        opacity: 1;
    }
    #works .layout4 .title{
        position: absolute;
        font-size: 1.5rem;
        left: 10%;
    }
    #works .layout4 .image video{
        width: 70vw;
        position: absolute;
        left: 60px;
        top: 300px;
        object-fit: cover;
    }

    #works .layout4 .detail{
        position: absolute;
        top: 15%;
        left: 10%;
        font-size: 1.2rem;
    }
    #works .layout4 .detail p{
        width: 300px;
    }
    #works .layout4 .app{
        position: absolute;
        top: 10%;
        left: 70%;
        background-color: black;
        width: 50px;
        height: 50px;
        border-radius: 20px;
        color: aliceblue;
    }
    #works .layout4 .app img{
        width: 70px;
        height: 70px;
        border-radius: 20%;
    }
    #works .layout4 .app2{
        position: absolute;
        top: 20%;
        left: 70%;
        background-color: black;
        width: 70px;
        height: 70px;
        border-radius: 20px;
        color: aliceblue;
    }
    #works .layout4 .app2 img{
        width: 65px;
        height: 65px;
    }
    #contact{
        position: relative;
        height: 150vh;
        background-color: #333333;
        color: #ffffff;
    }
    #contact .title{
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 1.5rem;
    }
    #contact .detail2{
        position: absolute;
        width: 80%;
        height: 300px;
        top: 15%;
        left: 10%;
        font-size: 1.5rem;
    }
    #contact .detail2 td{
        vertical-align: top;
    }
    .googlemap{
        position: absolute;
        left: 60px;
        top: 60%;  
    }
    .googlemap iframe{
        width: 80vw;
        height: 50vh;
    }
    .footer{
        position: relative;
        height: 100px;
        background-color: black;
        color: #333333;
        opacity: 0.1;
        text-align: center;
    }
    
    *, *:before, *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    ol, ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .hum1 {
        position: absolute;
        top: 14px;
        right: 20px;
        display: none;
    }
    /* menu */
    .hum1 .menu {
        position: fixed;
        top: 97px;
        right: -100vw;
        width: 400px;
        height: 420px;
        cursor: pointer;
        -webkit-transition: 0.50s transform;
                transition: 0.50s transform;
        -webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
                transition-timing-function: cubic-bezier(.38,.52,.23,.99);
        background-color: black;
    }
    .hum1 .menu ul {
        margin: 0;
        padding: 0;
    }
    .hum1 .menu li {
        list-style: none;
    }
    .hum1 .menu li a {
        display: block;
        padding: 40px;
        text-decoration: none;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    .hum1 #button {
        position: absolute;
        display: none;
        opacity: 0;
    }
    .hum1 #button:checked ~ .menu {
        -webkit-transform: translateX(-100vw);
                transform: translateX(-100vw);
    }
    .hum1 #button ~ label {
        display: block;
        padding: 0.5em;
        cursor: pointer;
        text-align: center;
        color: #333333;
    }
    .hum1 #button ~ label::before {
        font-family: 'FontAwesome';
        content: '\f0c9';
        visibility: hidden;
        font-size: 2em
    }
    .hum1 #button:checked ~ label::before {
        content: '\f00d';
    }
}